<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>

  <rewrite>

    <rules>

      <rule name="Angular Routes" enabled="true" stopProcessing="true">

        <match url=".*" />

        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{PATH_INFO}" pattern="api/*" negate="true" />
          <add input="{PATH_INFO}" pattern="opc/*" negate="true" />
          <add input="{PATH_INFO}" pattern="ws/*" negate="true" />
          <add input="{PATH_INFO}" pattern="op/*" negate="true" />
        </conditions>

        <action type="Rewrite" url="/" />

      </rule>

      <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
          <match url="^opc/*" />
          <action type="Rewrite" url="http://localhost:3606/opc" />
      </rule>
      <rule name="ReverseProxyInboundRule2" enabled="true" stopProcessing="true">
        <match url="^ws/*" />
			  <conditions>
        </conditions>
        <action type="Rewrite" url="http://localhost:3607/opc" />
        <serverVariables>
            <set name="HTTP_SEC_WEBSOCKET_EXTENSIONS" value="" />
        </serverVariables>
      </rule>
      <rule name="Redirect to HTTPS" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
      </rule>

    </rules>

  </rewrite>
  <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>

</system.webServer>
</configuration>
